/* CSS TRICKS TO TRY

Frosted glass slide up for messages
https://codepen.io/trevoreyre/pen/bRrrEx

Cursor styles
https://css-tricks.com/almanac/properties/c/cursor/

/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;

}

@font-face{
  font-family: "menlo";
  src: ../fonts/url("Menlo-Regular.ttf");
}



/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 98%;
	margin: auto;
  font-family:'menlo';
  letter-spacing: .1em;
  border: 8px double black;
  height:100vh;
}


.rooms {
     float:left;
     width: 200px;
     height:200px;
     border: 1px solid black;

}

.mapArrival {
     background-color: blue;
}

.roomGrow {
    width: 600px;
    text-align:center;
    clear:both;
    height:600px;
    background-image: url("../images/spa-castle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition:1s;
    z-index:2;
    top: 0;
    left: 0;
    right: 0; 
}

.roomShrink {
     width: 200px;
     height:200px;
     border: 1px solid black;
     transition:.3s;
}

.disappear {
  display:none;
}
input {
     outline:none;
     border:2px solid rgba(186,168,195, .4);
     width: 100%;
     height: 30px;
     text-transform: uppercase;
     font-family: 'menlo';
}

ul {
     list-style:none;
}

.inventory {
  background-color: white;
  padding:0 1% 1% 1%;
  border: 5px dotted black;
  position: fixed;
  display:none;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  width:600px;
}

.inventory h2{
  padding-left:1%;
}

.hiddenLink{
  background-color: black;
  color:white;
  padding:1%;
  position: fixed;
  display:none;
  left: 10%;
  bottom: 8px;
  cursor: pointer;
}

.continue {
  background-color: black;
  color:white;
  padding:1%;
  cursor: pointer;
}



.tokens {
  float:left;
  height: 20px;
  width:20px;
  margin:1% 2%;
  background-color:black;
}
h2 {
  letter-spacing: .18em;
  font-style: italic;
  font-weight: normal;
}

#credits {
  float:right;
  width: 45%;
}

h5 {
  font-size:.7em;
  font-weight:normal;
  font-style:italic;
}

.dialogueBox {
     width: 400px;
     margin:5% auto;
     padding:5%;
     clear:both;
     height:400px;
     background-color: black; 
     position: absolute;
     top: 100px;
     left: 0;
     right: 0;
     display:none;
}





/******* TYPEWRITER ANIMATION *********/


.dialogueBox p{
  color: white;
  font-size: 12px;
  margin: 10px 0 0 10px;
  white-space: nowrap; /* keeps content on a single line */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 30em;
  animation: type 3s steps(60, end);
}

.dialogueBox p:nth-child(2){
  animation: type2 5s steps(60, end);
}

/* blinking cursor */
.dialogueBox span{
  animation: blink .8s infinite;
  color:white;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}


/************************************ROOMS******************************/

/********LIBRARY***************/

#begin{
    animation: blink .8s linear infinite;
    cursor: pointer;
}


 #bookShelf {
    visibility:hidden;
    cursor:pointer;
 }

 #libraryObject {
  display:none;
  margin: 0 auto;
  padding:2%;
  border: 2px solid black;
  background:blue;
  cursor: pointer;
 }

 .map, #shelfRoom, #emptyBook {
    width: 600px;
    margin:2% auto;
    display:none;
    text-align:center;
    clear:both;
    height:600px;
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    right: 0; 
}

#shelfRoom {
  background-color:red;
  z-index:2;
  margin:0 auto;
}

.chooseBook {
  float:left;
  width:200px;
  height: 600px;
  border:2px solid black;
  cursor:pointer;
}

#emptyBook {
  background-color:white;
  z-index:3;
  margin:0 auto;
  border:2px solid black;
}


/********* STAIRS ROOM **********/

#mapStairs {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapStairsCandle {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapStairsGlass {
/*  background-image: url("../images/spa-castle.jpg");*/
}


/********* BREAD ROOM **********/

#mapBread {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapBreadWater {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapBreadKnife {
/*  background-image: url("../images/spa-castle.jpg");*/
}


/********* FLOWERS ROOM **********/

#mapFlowers {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapFlowerJewel {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapFlowerTooth {
/*  background-image: url("../images/spa-castle.jpg");*/
}


/********* MOUTHS ROOM **********/

#mapMouths {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapMouthsBread {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapMouthsGlass {
/*  background-image: url("../images/spa-castle.jpg");*/
}



/********* HANDS ROOM **********/

#mapHands {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapHandsRing {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapHandsDoll{
/*  background-image: url("../images/spa-castle.jpg");*/
}



/********* RAIN ROOM **********/

#mapRain {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapRainSeed {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapRainDoll{
/*  background-image: url("../images/spa-castle.jpg");*/
}


/********* MIRRORS ROOM **********/

#mapMirrors {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapMirrorsFrame {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapMirrorsRadio{
/*  background-image: url("../images/spa-castle.jpg");*/
}


/********* JEWELS ROOM **********/

#mapJewels {
  border: 10px dotted black;
  background-image: url("../images/spa-castle.jpg");
}

#mapJewelsTooth {
/*  background-image: url("../images/spa-castle.jpg");*/
}

#mapJewelsWorm{
/*  background-image: url("../images/spa-castle.jpg");*/
}

/**********************BUGS *******************/
/* -make the roomClicked not disappear off map when it grows


